apiVersion: v1
kind: Service
metadata:
  name: mysql
  namespace: expenses
spec:
  selector:
    app: mysql
  ports:
    - port: 3306
      targetPort: 3306
  clusterIP: None  # Headless service (lets Java connect via 'mysql' hostname)

